@import '/src/global-vars.css';

.spinner-container {
    height: 70vh;
    width: 85vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes spinner {
    to {transform: rotate(360deg);}
}


.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 50%;
    border: 1px solid #ccc;
    border-top-color: #07d;
    animation: spinner .6s linear infinite;
}


.leaderboard {
    margin-left: 15vw;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#leaderboard-title {
    font-family: BebasNeue-Regular;
    color: #fff;
    letter-spacing: 10px;
    font-size: 64px;
    line-height: 1;
    margin-top: 2.5%;
    margin-bottom: 1%;
}

#top-agents-section {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    width: 90% !important;
    position: relative;
    z-index: 2;
    height: 60vh  !important;
    border-radius: 10px;
    background: rgb(114,187,251);
    background: linear-gradient(135deg, rgba(114,187,251,1) 0%, rgba(58,73,128,1) 100%);
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.2);
    margin-top: 2.5%  !important;
    margin-bottom: 5%  !important;
    padding-bottom: 3%  !important;
}

.svg-triangle-elements {
    position: absolute;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    z-index: 0;
    padding: 0;
}

#left-triangle {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    border-radius: 0 0 10px 10px;
}

#right-triangle {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    height: 100%;
    border-radius: 0 10px 10px 0;
}


#leader-cards-container {
    display: flex;
    z-index: 3;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding-top: 2.5%;
    justify-content: space-evenly;
}

/* Outer Cards */
#second, #third {
    margin-top: 2% ; 
}


hr {
    position: relative;
    margin: 0 auto  !important;
    width: 90%  !important;
    margin-top: 0 !important;
    margin-bottom: 0  !important;
    height: 1px  !important;
    opacity: 1  !important;
}

/* Positions */

.position {
    width: 100%;
    display: flex;
    justify-content: start;
    left: 5px;
    font-size: 64px;
    font-weight: Bold;
    color: transparent;
    -webkit-text-stroke-width: 2px !important;
    opacity: 1  !important;
}

#first .position {   
    -webkit-text-stroke-color: #D9BB58;
}

#second .position {   
    -webkit-text-stroke-color: #C0C0C0;
}

#third .position {   
    -webkit-text-stroke-color: #CD7F32;
}

/* Outer-card */

.leaderboard-card {
    height: 90% !important;
    width: 23%  !important;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
    padding: 1%  !important;
}

#first.leaderboard-card {
    background: rgb(242,224,154);
    background: linear-gradient(135deg, rgba(242,224,154,1) 0%, rgba(255,255,255,1) 100%);
}

#second.leaderboard-card {
    background: rgb(220,220,220);
    background: linear-gradient(135deg, rgba(220,220,220,1) 0%, rgba(255,255,255,1) 100%);
}

#third.leaderboard-card {
    background: rgb(255,222,188);
    background: linear-gradient(135deg, rgba(255,222,188,1) 0%, rgba(255,255,255,1) 100%);
}

/* Inner-card */
.inner-container {
    display: flex;
    position: relative;
    top: 0;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

.agent-info-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 5%;
}

#first .inner-container {
    border-left : 1px solid #D9BB58;
    border-right : 1px solid #D9BB58;
}

#second .inner-container  {
    border-left : 1px solid #C0C0C0;
    border-right : 1px solid #C0C0C0;
}

#third .inner-container  {
    border-left : 1px solid #CD7F32;
    border-right : 1px solid #CD7F32;
}

/* Inner card element styling */
.agent-name {
    margin-top: 10%;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 3px;
    color: var(--primary-navy-blue);
}

#agent-branch {
    font-weight: 500  !important;
    color: #808080  !important;
    margin-bottom: 10%  !important;
    font-size: 15px;
    letter-spacing: 3px;
}

#sales-total {
    color: var(--primary-navy-blue);  
    font-size: 18px;  
    font-weight: 700;
    margin-top: 10%;
    letter-spacing: 3px;
}

#total-sales {
    letter-spacing: 3px;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 15%;
    color: #808080;
}


/* Borders */
#first hr {
    background-color: #D9BB58;
    height: 1px;
    border: 0;
}

#second hr {
    background-color: #C0C0C0;
    height: 1px;
    border: 0;
}

#third hr {
    background-color: #CD7F32;
    height: 1px;
    border: 0;
}


/* Table */

.table-section {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
}

#table {
    width: 90%;
    table-layout: fixed;
    border-collapse: collapse;
}

#title-row {
    width: 100%;
    text-align: center;
    border-bottom: 2px solid var(--primary-navy-blue);
}

.leaderboard-row {
    border-bottom: 1px solid #E6E6E6;
}

.leaderboard-cell{
    display: table-cell;
    text-align: center;
    padding: 20px 0;
    font-size: 14px !important;
}

.leaderboard-cell h3 {
    font-size: 14px;
}

#branch {
    color: var(--primary-baby-blue);
}

.non-leader-pos {
    font-size: 64px;
    font-family: BebasNeue-Regular
}

.non-leader-name {
    color: var(--primary-navy-blue);
    font-weight: 500;
}

.agent-profile {
    height: 30%;
    width: 30%;
}

.svg-elements {
    position: relative;
    bottom: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

/* MOBILE */