@import '../../global-vars.css';

.header {
    width: 85vw;
    margin-left: 15vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 12vh;
}

.profile-link-container {
    display: flex;
    align-items: center;
    padding-left: 5%;
    width: 80%;
    height: inherit;
}

#profile-link {
    color: var(--primary-navy-blue) !important;
    text-decoration: none !important;
}

.agent-information {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 35%;
    height: inherit;
    align-items: center;
    padding-right: 5%;
}

#agent-img {
    height: 75px;
    width: 75px;
    background-color: var(--primary-baby-blue);
    margin: 0 20px;
    border-radius: 50%;
}

.agent-details {
    display: flex;
    flex-direction: column;
    width: auto;
    
    text-align: right;
}

#agent-name {
    color: var(--primary-navy-blue) !important;
    line-height: 2em;
    text-decoration: none !important;
    width: 100%;
}

#agent-branch {
    margin: 0 !important;
    text-decoration: none !important;
    color: var(--primary-baby-blue);
}

#dropdown-toggle {
    height: 40px !important;
    width: 40px !important;
    padding: 5px !important;
    display: flex !important;
    border-radius: 100px !important;
    justify-content: center !important;
    align-items: center !important;
    border: none !important;
    background-color: #fff !important;
    outline: none;
}

#dropdown-toggle:active {
    outline: none !important;
    box-shadow: none !important;
}

#dropdown-toggle::after {
    content: none;
    padding: 5%;
    outline: none;
}

#dropdown-toggle:focus {
    box-shadow: none;
}

#dropdown-toggle:hover {
    background: #EAEAEA !important;
    cursor: pointer !important;
}


#drop-down-menu {
    margin-top: 25% !important;
    display: flex !important;
    flex-direction: column !important;
    border: 1px solid #E6E6E6 !important;
    border-radius: 10px !important;
    background: #fff !important;
}

#drop-down-item {
    padding: 14px;
    display: flex;
    width: 175px;
    flex-direction: row;
    justify-content: space-between;
    color: var(--primary-navy-blue) !important;
    width: 100%;
    font-size: 14px;
}

#drop-down-item:hover {
    background: #F4F5FC;
}

#drop-down-item img {
    padding-right: 10%;
}