.sidebar {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 15vw;
    background-image: url('../../Media/Images/mountain.jpeg');
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: center;
    background-size: cover;
}

.sidebar-overlay {
    z-index: -1;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 15vw;
    background: rgb(114,187,251);
    background: linear-gradient(153deg, rgba(114,187,251,0.8) 0%, rgba(128,128,128,0.4514180672268907) 100%);
}

.ngu-logo-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.sidebar-menus {
    padding: 5% 0;
}

.sidebar-menu-item {
    display: flex;
    text-decoration: none !important;
    align-items: center;
    padding: 10% 15%;
}

.sidebar-icon {
    margin-right: 10%;
}

a {
    text-decoration: none !important;
    color: #fff !important;
}


#relb-logo {
    position: absolute;
    bottom: 5%;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}

.sidebar-menu-item:hover {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50px 0 0 50px;
}

#listing-btn-sect {
    position: absolute;
    bottom: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
}