@import '../../global-vars.css';

.forgot-password-form-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-content: center;
    justify-content: center;
}

#forgot-password-card {
    background: #EDF6FE;
    min-height: 400px;
    height: fit-content;
    margin: 5% 0;
    width: 100%;
    max-width: 700px;
    min-width: 400px;
    border-radius: 10px;
}

#forgot-password-card-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#form {
    display: flex;
    flex-direction: column;
    width: 70%;
}

label {
    font-family: var(--primary-font);
    font-size: 16px;
    margin-top: 15px;
    color: var(--primary-navy-blue);
}

input, select {
    outline: none !important;
    border: none !important;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.form-links{
    color: var(--primary-navy-blue);
    text-decoration: none !important;
    font-size: 14px;
}