@import '../../global-vars.css';

.login-form-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-content: center;
    justify-content: center;
}

#login-card {
    background: #EDF6FE;
    min-height: 700px;
    height: fit-content;
    margin: 5% 0;
    width: 100%;
    max-width: 700px;
    min-width: 400px;
    border-radius: 10px;
}

#login-card-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#create-account-text-container {
    margin-bottom: 10px;
    margin-top: 20px;
    color: var(--primary-navy-blue);
}

#form {
    display: flex;
    flex-direction: column;
    width: 70%;
}

label {
    font-family: var(--primary-font);
    font-size: 16px;
    margin-top: 15px;
    color: var(--primary-navy-blue);
}

input, select {
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

#create-account-text-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#create-text {
    margin: 0;
}

.horizontal-line {
    height: 2px;
    width: 150px;
    margin-left: 5px;
    margin-right: 6px;
    display: inline-block;
    align-self: center;
    background-color: var(--primary-navy-blue);
}

#submit-button {
    display: block;
    align-self: center;
    background: var(--primary-navy-blue);
    height: 50px;
    border-radius: 5px;
    color: white;
    width: 100%;
    margin-top: 10%;
}

#google-container {
    margin: 10% 0 5% 0;
    width: 70%;
    display: flex;
    align-items: center;
}

#inner-google-container {
    display: flex;
    width: 100%;
    padding: 0;
    justify-content: center;
}

#google-a {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: none;
    font-weight: bold;
    background-color: white;
    border: none;
    height: 50px;
    color: var(--primary-navy-blue);
}

#google-a:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}


#google-img {
    margin-bottom:3px; 
    margin-right:5px;
}
