@import '../../global-vars.css';

.sign-up-form-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-content: center;
    justify-content: center;
}

#sign-up-card {
    background: #EDF6FE;
    min-height: 800px;
    max-height: 1100px;
    margin: 5% 0;
    width: 100%;
    max-width: 700px;
    min-width: 400px;
    border-radius: 10px;
}

#sign-up-card-body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#create-account-text-container {
    margin-bottom: 10px;
    margin-top: 20px;
    color: var(--primary-navy-blue);
}

#form {
    display: flex;
    flex-direction: column;
}

label {
    font-family: var(--primary-font);
    font-size: 16px;
    margin-top: 15px;
    color: var(--primary-navy-blue);
}

#create-account-text-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#create-text {
    margin: 0;
}

.horizontal-line {
    height: 2px;
    width: 150px;
    margin-left: 5px;
    margin-right: 6px;
    display: inline-block;
    align-self: center;
    background-color: var(--primary-navy-blue);
}

#submit-button {
    display: block;
    align-self: center;
    background: var(--primary-navy-blue);
    height: 50px;
    border-radius: 5px;
    color: white;
    width: 50%;
    margin-top: 10%;
}