:root {
    --primary-navy-blue: #262256;
    --primary-baby-blue: #72BBFB;

    --primary-font: 'Montserrat';
}

@font-face {
    font-family: BebasNeue-Regular;
    src: url('./Media/Fonts/BebasNeue-Regular.ttf');
}